.vscode/
.ignore/
*.exe.old
*.exe
index.*

assets/audio/
assets/images/*

src/assets_baked.h
icon/res.rc
icon/icon.ico

!assets/images/atlas_boke.png
!assets/images/atlas_template.png

!assets/images/SKF_logo.png

!assets/images/stage_grapoli.jpg
!assets/images/stage_cava.jpg
!assets/images/stage_ssfsb.jpg

!assets/images/ui_bar.png
!assets/images/ui_font.png
